*{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'robot';
    src: url(fonts/Robota-NonCommercial.otf);
    font-weight: 100;
}

:root{
    --cor1: #A4FEFF;
    --cor2: #C18DDB; 
    --cor3: #031136;

    --font1: 'robot', helvetica, serif;
    --font2: arial, helvetica, sans-serif; 
}

/*  Menu / SideBar  */

header{
    background-image: linear-gradient(-45deg, #A4FEFF 50%, #C18DDB, #031136 );
    height: 65px;
    position: sticky;
    top: 0;
    z-index: 99;
}

#menu-bar{
    display: flex;
    align-items: center;
    height: 100%;
    box-shadow: 0px 3px 6px #c18ddbd2;
    z-index: 99;
}

#logo{
    font-size: 3em;
    font-family: var(--font1);
    align-items: center;
    padding-left: 100px;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.676);
}

#link{
    padding-left: 150px;
}

.links{
    padding-left: 200px;
    font-size: 1.5em;
    text-decoration: none;
    font-family: var(--font1);
    text-shadow: 0px 0.8px 2px black;
    margin: 0px;
}

.links:hover{
    color: var(--cor2);
    font-size: 2em;
    transition: 1.5s ease-in-out;
    
}

/*  Imagem  */

main{
    background-image: linear-gradient(-45deg, #20244d, #031136, #20244d); 
}

#container-img{
    margin-top: 100px;
    position: absolute;
    left: 200px;
}

#img{
    margin: auto;
    background-image: url(images/imagem\ cllr2.jpg);
    background-size: cover;
    height: 600px;
    width: 600px;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: 0px 15px 20px #1643c1;
}

/*  Conteudo  */

#titulo-conteudo{
    color: var(--cor2);
    font-family: var(--font1);
    text-align: center;
    font-size: 2.5em;
    padding-top: 10px;
    text-shadow: 0px 2px 3px black;
}

#conteudo-externo{
    background-color: #03174b ;
    position: absolute;
    top: 250px ;
    left: 1150px;
    text-align: justify;
    width: 600px;
    height: 450px;
    box-shadow: 0px 15px 20px #1643c1;
    border-radius: 0px 0px 15px 15px;

}

#conteudo-interno{
    font-size: 1.5em;
    text-align: justify;
    width: 550px;
    height: 400px;
    padding: 20px;
    color: white;
    text-indent: 20px;
    text-shadow: 0px 2px 3px black;
}

.text-destaque{
    color: var(--cor2);
}

/*  Conteudo 2 ( Sobre )*/

#titulo-conteudo2{
    color: var(--cor2);
    font-family: var(--font1);
    text-align: center;
    font-size: 2.5em;
    padding-top: 820px;
    text-shadow: 0px 2px 3px var(--cor2);
}

.conteudo-sobre-externo{
    display: inline-block;
    margin-top: 30px;
    margin-left: 180px;
    background-color: #03174b;
    text-align: justify;
    width: 400px;
    height: 350px;
    box-shadow: 0px 15px 20px #1643c1;
    border-radius: 0px 0px 15px 15px;
}

.conteudo-sobre-interno{
    padding: 20px;
    color: white;
    text-indent: 20px;
    font-size: 1.4em;
    text-shadow: 0px 2px 3px black;
}

.titulo-sobre{
    color: var(--cor2);
    font-family: var(--font1);
    text-align: center;
    font-size: 1.5em;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: 0px 2px 3px black;
}

#sobre{
    animation: animtxt 10s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
}

@keyframes animtxt {
    from{
        opacity: 0;
        translate: 0 50vh;
    }
    to{
        opacity: 1;
        translate: 0 0 ;
    }
}

/*  Comentarios */

#titulo-conteudo3{
    color: var(--cor2);
    font-family: var(--font1);
    text-align: center;
    font-size: 2.5em;
    padding-top: 70px;
    text-shadow: 0px 2px 3px var(--cor2);
}

#nome-pessoa{
    color: var(--cor2);
}

.comentario{
    text-align: justify;
    color: white;
    background-color: #03174b;
    text-align: justify;
    width: 250px;
    height: 100px;
    box-shadow: 0px 15px 20px #1643c1;
    padding: 10px;
    border-radius: 15px;
}

#comentarios{
    position: relative;
}

#comentario1{
    padding-left: 450px;
}

#comentario2{
    position: absolute;
    top: 225px;
    left: 1260px;
}

#comentario3{
    position: absolute;
    top: 350px;
    left: 350px;
}

#comentario4{
    position: absolute;
    top: 550px;
    left: 350px;
}

#comentario5{
    position: absolute;
    top: 550px;
    left: 1270px;
}

#img2{
    background-image: url(images/imagem\ cllr\ de\ costas.jpg);
    margin: auto;
    background-size: cover;
    height: 600px;
    width: 600px;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: 0px 15px 20px #1643c1;
    display: flex;
    
}

/*  footer  */

#footer{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor3);
    font-size: 1.55em;
    font-family: var(--font1);
    margin-top: 40px;
    width: auto;
    background-image: linear-gradient(-45deg, #A4FEFF 50%, #C18DDB, #031136 );
}
    

/*  Media screen 1780px  */

@media screen and (max-width: 1720px) {

    /*  Menu / SideBar  */

    header{
        height: 50px;
    }

    #logo{
        font-size: 2.4em;
        padding-left: 80px;
    }

    #link{
        padding-left: 100px;
    }

    .links{
        padding-left: 150px;
        font-size: 1.5em;
    }

    .links:hover{
        font-size: 1.8em;
    }

    /*  Imagem  */

    #container-img{
        margin-top: 60px;
        position: absolute;
        left: 100px;
    }

    #img{
        height: 550px;
        width: 550px;
    }

    /*  Conteudo  */

    #titulo-conteudo{
        font-size: 2em;
    }

    #conteudo-externo{
        position: absolute;
        top: 150px;
        left: 800px;
    }

    /*  Conteudo 2 ( Sobre )*/

    #titulo-conteudo2{
        font-size: 2em;
        padding-top: 680px;
    }

    .conteudo-sobre-externo{
        margin-top: 15px;
        margin-left: 80px;
    }

    /*  Comentarios  */

    #titulo-conteudo3{
        font-size: 2em;
        padding-top: 80px;
    }

    #comentarios{
        position: relative;
    }
    
    #comentario1{
        padding-left: 350px;
    }
    
    #comentario2{
        position: absolute;
        top: 200px;
        left: 1100px;
    }
    
    #comentario3{
        position: absolute;
        top: 250px;
        left: 150px;
    }
    
    #comentario4{
        position: absolute;
        top: 550px;
        left: 200px;
    }
    
    #comentario5{
        position: absolute;
        top: 550px;
        left: 1080px;
    }
    
    #img2{
        background-image: url(images/imagem\ cllr\ de\ costas.jpg);
        margin: auto;
        background-size: cover;
        height: 600px;
        width: 600px;
        background-repeat: no-repeat;
        border-radius: 50%;
        box-shadow: 0px 15px 20px #1643c1;
        display: flex;
        
    }
}


/*  Media screen 1420px  */

@media screen and (max-width: 1420px) {

    /*  Menu / SideBar  */

    header{
        height: 45px;
    }

    /*  Conteudo  */

    #titulo-conteudo{
        font-size: 1.8em;
    }

    #conteudo-externo{
        position: absolute;
        top: 160px;
        left: 820px;

        width: 450px;
        height: 400px;
    }

    #conteudo-interno{
        font-size: 1.3em;
        width: 400px;
        height: 400px;
    }

    /*  Conteudo 2 ( Sobre )*/

    #titulo-conteudo2{
        font-size: 1.8em;
        padding-top: 680px;
    }

    .conteudo-sobre-externo{
        margin-top: 15px;
        margin-left: 50px;
    }

    /*  Comentarios  */

    #titulo-conteudo3{
        font-size: 1.8em;
        padding-top: 80px;
    }

    #comentarios{
        position: relative;
    }
    
    #comentario1{
        padding-left: 350px;
    }
    
    #comentario2{
        position: absolute;
        top: 200px;
        left: 1000px;
    }
    
    #comentario3{
        position: absolute;
        top: 250px;
        left: 110px;
    }
    
    #comentario4{
        position: absolute;
        top: 550px;
        left: 140px;
    }
    
    #comentario5{
        position: absolute;
        top: 550px;
        left: 1000px;
    }
}


/*  Media screen 1024px  */

@media screen and (max-width: 1024px){

    /*  Menu / SideBar  */

    header{
        height: 50px;
    }

    #logo{
        font-size: 2.3em;
        padding-left: 60px;
    }

    #link{
        padding-left: 40px;
    }

    .links{
        padding-left: 80px;
        font-size: 1.5em;
    }

    .links:hover{
        font-size: 1.6em;
    }

    /*  Imagem  */

    #container-img{
        margin-top: 40px;
        position: absolute;
        left: 50px;
    }

    #img{
        height: 450px;
        width: 450px;
    }

    /*  Conteudo  */

    #titulo-conteudo{
        font-size: 1.8em;
    }

    #conteudo-externo{
        position: absolute;
        top: 150px;
        left: 525px;
    }

    /*  Conteudo 2 ( Sobre )*/

    #titulo-conteudo2{
        font-size: 2em;
        padding-top: 580px;
    }

    .conteudo-sobre-externo{
        margin-top: 20px;
        margin-left: 20px;
        width: 300px;
        height: 300px;
    }

    .titulo-sobre{
        font-size: 1.5em;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    
    .conteudo-sobre-interno{
        padding: 10px;
        font-size: 1.3em;
    }

    /*  Comentarios  */

    #titulo-conteudo3{
        font-size: 2em;
        padding-top: 80px;
    }

    #comentarios{
        position: relative;
    }
    
    #comentario1{
        padding-left: 100px;
    }
    
    #comentario2{
        position: absolute;
        top: 200px;
        left: 720px;
    }
    
    #comentario3{
        position: absolute;
        top: 250px;
        left: 10px;
    }
    
    #comentario4{
        position: absolute;
        top: 450px;
        left: 50px;
    }
    
    #comentario5{
        position: absolute;
        top: 550px;
        left: 700px;
    }
    
    #img2{
        background-image: url(images/imagem\ cllr\ de\ costas.jpg);
        margin: auto;
        background-size: cover;
        height: 600px;
        width: 600px;
        background-repeat: no-repeat;
        border-radius: 50%;
        box-shadow: 0px 15px 20px #1643c1;
        display: flex;
        
    }
}

/*  Media screen 1024px  */

@media screen and (max-width: 480px){
    header{
        height: 40px;
    }

    #logo{
        font-size: 1.3em;
        padding-left: 10px;
    }

    #link{
        padding-left: 10px;
    }
    
    .links{
        padding-left: 5px;
        font-size: 0.8em;
    }

    .links:hover{
        font-size: 0.8em;
    }

    /*  Imagem  */

    #container-img{
        margin-top: 30px;
        position: absolute;
        left: 40px;
    }

    #img{
        margin: auto;
        background-image: url(images/imagem\ cllr2.jpg);
        background-size: cover;
        height: 320px;
        width: 320px;
    }   

    /*  Conteudo  */

    #titulo-conteudo{
        font-size: 1.8em;
        padding-top: 10px;
        
    }

    #conteudo-externo{
        display: block;
        position: absolute;
        top: 430px ;
        left: 20px;

        width: 360px;
        height: 420px;
    }

    #conteudo-interno{
        font-size: 1.2em;
        width: 340px;
        height: 340px;
        padding: 10px;
    }

    /*  Conteudo 2 ( Sobre )*/

    #titulo-conteudo2{
        font-size: 1.8em;
        padding-top: 860px;
    }

    .conteudo-sobre-externo{
        margin-top: 30px;
        margin-left: 40px;
        
        width: 300px;
        height: 250px;
        
    }

    .conteudo-sobre-interno{
        padding: 20px;
        
        text-indent: 20px;
        font-size: 1.2em;
        text-shadow: 0px 2px 3px black;
    }

    .titulo-sobre{
        font-size: 1.3em;
        padding-top: 5px;
        padding-bottom: 10px;
    }

    /*  Comentarios */

    #titulo-conteudo3{
        font-size: 1.8em;
        padding-top: 70px;
    }

    .comentario{
        width: 250px;
        height: 100px;
        padding: 10px;
    }

    #comentarios{
        position: relative;
    }
    
    #comentario1{
        position: absolute;
        top: 480px;
        left: -50px;
    }

    #comentario2{
        position: absolute;
        top: 680px;
        left: 50px;
    }

    #comentario3{
        position: absolute;
        top: 880px;
        left: 50px;
    }

    #comentario4{
        position: absolute;
        top: 1080px;
        left: 50px;
    }

    #comentario5{
        position: absolute;
        top: 1280px;
        left: 50px;
    }

    #height{
        height: 1100px;
    }

    #img2{
        margin-top: 50px;
        height: 360px;
        width: 360px;
    }
}

